@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50 text-zinc-900 dark:bg-black dark:text-zinc-100 transition-colors duration-300 antialiased;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

@layer utilities {
  .animate-marquee {
    animation: marquee var(--marquee-duration) linear infinite;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-1 * var(--marquee-distance)));
  }
}